/* Define a largura e altura da tela como 100% */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0066cc; /* Cor de fundo azul */
}

/* Cria um retângulo azul escuro na parte superior */
.retangulo {
    width: 100%;
    height: 15%; /* O retângulo ocupa 15% da altura */
    background-color: #003366; /* Azul escuro */
}
